<html>
 <head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/test.css" media="screen" />
</head> 

<body>
<h1> <a href="/todo"> Our List of Things to do Together :) </a> </h1>

<div class="content">
{% for entry in entries %}
  <div class="entry">
  	<div class="entry-header">
    <div class="entry-title"><a href="/todo/{{entry.key().name()}}">{{entry.title}}</a></div>
    <div class="entry-location">in {{entry.location}}</div>
    </div>
    <hr>
  <pre class="entry-description">{{entry.description}}</pre>
  <div class="entry-footer">
  <div class="entry-author">
  Posted by {{entry.author}} on {{entry.created_on.strftime("%d %b %Y")}}
  </div>
  </div>
  </div>
{% endfor %}

</div>
</body> 
</html>
