<html>
 <head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/test.css" media="screen" />
</head> 

<body>
<h1> Our List of Things to do Together :) </h1>

<div class="content">
{% for entry in entries %}
  <div class="entry">
  	<div class="entry-header">
    <div class="entry-title">{{entry.title}}</div>
    <div class="entry-location">in {{entry.location}}</div>
    </div>
    <hr>
  <pre class="entry-description">{{entry.description}}</pre>
  <div class="entry-footer">
  Posted by {{entry.author}} on {{entry.created_on}}
  </div>
  </div>
{% endfor %}

</div>
</body> 
</html>
